.rojo {
  background: rgb(255, 0, 0);
  color: rgb(240, 240, 240);
  border-radius: 10px;
  text-align: center;
  padding: 0.2rem;
}
.verde {
  background: rgb(0, 201, 27);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  text-align: center;
  padding: 0.2rem;
}
.azul {
  background: rgb(0, 17, 255);
  color: rgb(240, 240, 240);
  border-radius: 10px;
  text-align: center;
  padding: 0.2rem;
}
.amarillo {
  background: rgb(251, 255, 0);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  text-align: center;
  padding: 0.2rem;
}
