<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-intercambio-turno-heading" jhiTranslate="controlAccesoApp.intercambioTurno.home.createOrEditLabel">Create or edit a Intercambio Turno</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="controlAccesoApp.intercambioTurno.fecha" for="field_fecha">Fecha</label>
                    <div class="d-flex">
                        <input id="field_fecha" type="datetime-local" class="form-control" name="fecha" formControlName="fecha" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="controlAccesoApp.intercambioTurno.autorizadoPor" for="field_autorizadoPor">Autorizado Por</label>
                    <input type="text" class="form-control" name="autorizadoPor" id="field_autorizadoPor"
                           formControlName="autorizadoPor"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="controlAccesoApp.intercambioTurno.observaciones" for="field_observaciones">Observaciones</label>
                    <input type="text" class="form-control" name="observaciones" id="field_observaciones"
                           formControlName="observaciones"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="controlAccesoApp.intercambioTurno.asignacionTurno1" for="field_asignacionTurno1">Asignacion Turno 1</label>
                    <select class="form-control" id="field_asignacionTurno1" name="asignacionTurno1" formControlName="asignacionTurno1">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="asignacionTurnoOption.id === editForm.get('asignacionTurno1').value?.id ? editForm.get('asignacionTurno1').value : asignacionTurnoOption" *ngFor="let asignacionTurnoOption of asignacionturno1s; trackBy: trackAsignacionTurnoById">{{asignacionTurnoOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="controlAccesoApp.intercambioTurno.colaborador1" for="field_colaborador1">Colaborador 1</label>
                    <select class="form-control" id="field_colaborador1" name="colaborador1" formControlName="colaborador1">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="colaboradorOption.id === editForm.get('colaborador1').value?.id ? editForm.get('colaborador1').value : colaboradorOption" *ngFor="let colaboradorOption of colaboradors; trackBy: trackColaboradorById">{{colaboradorOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="controlAccesoApp.intercambioTurno.colaborador2" for="field_colaborador2">Colaborador 2</label>
                    <select class="form-control" id="field_colaborador2" name="colaborador2" formControlName="colaborador2">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="colaboradorOption.id === editForm.get('colaborador2').value?.id ? editForm.get('colaborador2').value : colaboradorOption" *ngFor="let colaboradorOption of colaboradors; trackBy: trackColaboradorById">{{colaboradorOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
