<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="colaborador">
            <h2><span jhiTranslate="controlAccesoApp.colaborador.detail.title">Colaborador</span> {{colaborador.id}}
            </h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <!----------------------Perfil Personal------------------------------->
                <div class="border rounded shadow p-3 my-3">
                    <h3>Perfil personal</h3>
                    <hr>
                    <div class="form-row">
                        <div class="col-3">
                            <dt><span jhiTranslate="controlAccesoApp.colaborador.nombre1">Nombre 1</span></dt>
                            <dd>
                                <span>{{colaborador.nombre1}}</span>
                            </dd>
                        </div>
                        <div class="col-3">
                            <dt><span jhiTranslate="controlAccesoApp.colaborador.nombre2">Nombre 2</span></dt>
                            <dd>
                                <span>{{colaborador.nombre2}}</span>
                            </dd>
                        </div>

                        <div class="col-3">
                            <dt><span jhiTranslate="controlAccesoApp.colaborador.apellido1">Apellido 1</span></dt>
                            <dd>
                                <span>{{colaborador.apellido1}}</span>
                            </dd>
                        </div>
                        <div class="col-3">
                            <dt><span jhiTranslate="controlAccesoApp.colaborador.apellido2">Apellido 2</span></dt>
                            <dd>
                                <span>{{colaborador.apellido2}}</span>
                            </dd>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-3">
                            <dt><span jhiTranslate="controlAccesoApp.colaborador.tipoDocumento">Tipo Documento</span>
                            </dt>
                            <dd>
                                <span>{{colaborador.tipoDocumento}}</span>
                            </dd>
                        </div>
                        <div class="col-3">
                            <dt><span jhiTranslate="controlAccesoApp.colaborador.numeroDocumento">Numero
                                    Documento</span>
                            </dt>
                            <dd>
                                <span>{{colaborador.numeroDocumento}}</span>
                            </dd>
                        </div>
                        <div class="col-3">
                            <dt><span jhiTranslate="controlAccesoApp.colaborador.lugarExpedicion">Lugar
                                    Expedicion</span>
                            </dt>
                            <dd>
                                <span>{{colaborador.lugarExpedicion ? colaborador.lugarExpedicion : '(Sin registrar)'}}</span>
                            </dd>
                        </div>
                        <div class="col-3">
                            <dt><span jhiTranslate="controlAccesoApp.colaborador.fechaExpedicion">Fecha
                                    Expedicion</span>
                            </dt>
                            <dd>
                                <span>{{this.convertirMoment(colaborador.fechaExpedicion)}}</span>
                            </dd>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-3">
                            <dt><span jhiTranslate="controlAccesoApp.colaborador.fechaNacimiento">Fecha
                                    Nacimiento</span>
                            </dt>
                            <dd>
                                <span>{{this.convertirMoment(colaborador.fechaNacimiento)}}</span>
                            </dd>
                        </div>
                        <div class="col-3">
                            <dt><span jhiTranslate="controlAccesoApp.colaborador.direccionResidencia">Direccion
                                    Residencia</span>
                            </dt>
                            <dd>
                                <span>{{colaborador.direccionResidencia ? colaborador.direccionResidencia : '(Sin registrar)'}}</span>
                            </dd>
                        </div>
                        <div class="col-3">
                            <dt><span jhiTranslate="controlAccesoApp.colaborador.barrio">Barrio</span></dt>
                            <dd>
                                <span>{{colaborador.barrio ? colaborador.barrio : '(Sin registrar)'}}</span>
                            </dd>
                        </div>
                        <div class="col-3">
                            <dt><span jhiTranslate="controlAccesoApp.colaborador.eps">Eps</span></dt>
                            <dd>
                                <span>{{colaborador.eps ? colaborador.eps : '(Sin registrar)' }}</span>
                            </dd>
                        </div>
                    </div>
                    <div class= "form-row">
                        <div class="coll-6">
                            <dt><span>Telefonos</span></dt>
                            <dd *ngIf="this.telefonos.length === 0">
                                <span>(Sin registrar)</span>
                            </dd>
                            <dd>
                                <span *ngFor="let objTel of telefonos">{{objTel.tipo +": "+ objTel.numero}}</span>
                            </dd>
                        </div>
                    </div>
                </div>
                <!--------------------------------Fin perfil personal------------------------------>
                <!-------------------------------Perfil Laboral------------------------------------>
                <div class="border rounded shadow p-3 my-3">
                    <h3>Perfil laboral</h3><hr>
                    <div class="form-row">
                        <div class="col-4">
                            <dt><span jhiTranslate="controlAccesoApp.colaborador.estado">Estado</span></dt>
                            <dd>
                                <span
                                    jhiTranslate="{{'controlAccesoApp.Estado.' + colaborador.estado}}">{{colaborador.estado}}</span>
                            </dd>
                        </div>
                        <div class="col-4">
                            <dt><span jhiTranslate="controlAccesoApp.colaborador.tiempoRequerido">Tiempo
                                    Requerido</span></dt>
                            <dd>
                                <span>{{colaborador.tiempoRequerido ? colaborador.tiempoRequerido : '(Sin registrar)'}}</span>
                            </dd>
                        </div>
                        <div class="col-4">
                            <dt><span jhiTranslate="controlAccesoApp.colaborador.fechaIngreso">Fecha Ingreso</span></dt>
                            <dd>
                                <span>{{this.convertirMoment(colaborador.fechaIngreso)}}</span>
                            </dd>
                        </div>
                        <!--<div [hidden]="true" class="col-4">
                            <dt><span jhiTranslate="controlAccesoApp.colaborador.cargoDesempeniar">Cargo
                                    Desempeniar</span></dt>
                            <dd>
                                <span>{{colaborador.cargoDesempeniar}}</span>
                            </dd>
                        </div>-->
                    </div>
                    <div class="form-row">
                        <div class="col-4">
                            <dt><span jhiTranslate="controlAccesoApp.colaborador.salario">Salario</span></dt>
                            <dd>
                                <span>{{colaborador.salario ? colaborador.salario : '(Sin registrar)'}}</span>
                            </dd>
                        </div>
                        <div class="col-4">
                            <dt><span jhiTranslate="controlAccesoApp.colaborador.nivelEducativo">Nivel Educativo</span>
                            </dt>
                            <dd>
                                <span
                                    jhiTranslate="{{'controlAccesoApp.NivelEducativo.' + colaborador.nivelEducativo}}">{{colaborador.nivelEducativo ? colaborador.nivelEducativo : '(Sin registrar)'}}</span>
                            </dd>
                        </div>
                        
                    </div>
                    
                </div>

                <div *ngIf="this.asignacionesColSeleccionado.length > 0"
                    class="border rounded shadow p-4 my-3">
                    <h3>Asignacion Actual </h3><hr>
                    <div class="row">
                        <div class="col-3">
                            <dt>Turno</dt>
                        </div>
                        <div class="col-3">
                            <dt>Cargo</dt>
                        </div>
                    </div>
                    <div *ngFor="let item of this.asignacionesColSeleccionado" class="row my-2">
                        <div class="col-3">
                            <div class={{item.turno.color?.toLowerCase()}}>
                                {{item.turno ? item.turno.nombre : '(Terminar asignación)'}}
                            </div>
                        </div>
                        <div class="col-3">
                            {{item.cargo.nombre}}
                        </div>
                        
                    </div>
                </div>

                <div *ngIf="this.antecedentesCol.length > 0" class="border rounded shadow p-4 my-3">
                    <h3>Antecedentes: </h3><hr>
                    <div class ="row">
                        <div class ="col-4">
                            <dt>Disciplinarios: </dt>
                            <label>{{this.antDiscip ? ' Si' : ' No'}}</label>
                        </div>
                        <div class ="col-4">
                            <dt>Fiscales: </dt>
                            <label>{{this.antFisc ? ' Si' : ' No'}}</label>
                        </div>
                        <div class ="col-4">
                            <dt>Penales: </dt>
                            <label>{{this.antPenal ? ' Si' : ' No'}}</label>
                        </div>
                    </div>

                </div>
                <!------------------------------Fin Perfil Laboral------------------------------------->
                <!--
                <dt><span jhiTranslate="controlAccesoApp.colaborador.fechaBaja">Fecha Baja</span></dt>
                <dd>
                    <span>{{colaborador.fechaBaja}}</span>
                </dd>
                
                <dt><span jhiTranslate="controlAccesoApp.colaborador.peticion">Peticion</span></dt>
                <dd>
                    <span *ngFor="let peticion of colaborador.peticions; let last = last">
                        <a [routerLink]="['/peticion', peticion?.id, 'view' ]">{{peticion.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="controlAccesoApp.colaborador.asignacionHorasExtras">Asignacion Horas
                        Extras</span></dt>
                <dd>
                    <span *ngFor="let asignacionHorasExtras of colaborador.asignacionHorasExtras; let last = last">
                        <a
                            [routerLink]="['/asignacion-horas-extras', asignacionHorasExtras?.id, 'view' ]">{{asignacionHorasExtras.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            -->
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button" [routerLink]="['/colaborador', colaborador.id, 'edit']" class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>