<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-asistencia-planeacion-heading" jhiTranslate="controlAccesoApp.asistenciaPlaneacion.home.createOrEditLabel">Create or edit a Asistencia Planeacion</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="controlAccesoApp.asistenciaPlaneacion.asistencia" for="field_asistencia">Asistencia</label>
                    <select class="form-control" id="field_asistencia" name="asistencia" formControlName="asistencia">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="asistenciaOption.id === editForm.get('asistencia').value?.id ? editForm.get('asistencia').value : asistenciaOption" *ngFor="let asistenciaOption of asistencias; trackBy: trackAsistenciaById">{{asistenciaOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="controlAccesoApp.asistenciaPlaneacion.colaborador" for="field_colaborador">Colaborador</label>
                    <select class="form-control" id="field_colaborador" name="colaborador" formControlName="colaborador">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="colaboradorOption.id === editForm.get('colaborador').value?.id ? editForm.get('colaborador').value : colaboradorOption" *ngFor="let colaboradorOption of colaboradors; trackBy: trackColaboradorById">{{colaboradorOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
