<div>
    <tabset>
        <tab heading="Registro Asistencia" id="tab1">
            <div>
                <h2 id="page-heading" class="mt-4">
                    <span jhiTranslate="controlAccesoApp.asistenciaPlaneacion.home.title">Asistencia Planeacions</span>
                    <button id="jh-create-entity"
                        class="btn btn-primary float-right jh-create-entity create-asistencia-planeacion"
                        [routerLink]="['/asistencia-planeacion/new']">
                        <fa-icon [icon]="'plus'"></fa-icon>
                        <span jhiTranslate="controlAccesoApp.asistenciaPlaneacion.home.createLabel">
                            Create a new Asistencia Planeacion
                        </span>
                    </button>
                </h2>
                <jhi-alert></jhi-alert>
                <br />
                <div class="alert alert-warning" *ngIf="asistenciaPlaneacions?.length === 0">
                    <span jhiTranslate="controlAccesoApp.asistenciaPlaneacion.home.notFound">No asistenciaPlaneacions
                        found</span>
                </div>
                <div class="table-responsive" *ngIf="asistenciaPlaneacions?.length > 0">
                    <table class="table table-striped" aria-describedby="page-heading">
                        <thead>
                            <tr>
                                <th><span jhiTranslate="global.field.id">ID</span></th>
                                <th><span
                                        jhiTranslate="controlAccesoApp.asistenciaPlaneacion.asignacionTurno">Asignacion
                                        Turno</span></th>
                                <th><span
                                        jhiTranslate="controlAccesoApp.asistenciaPlaneacion.asistencia">Asistencia</span>
                                </th>
                                <th><span
                                        jhiTranslate="controlAccesoApp.asistenciaPlaneacion.colaborador">Colaborador</span>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let asistenciaPlaneacion of asistenciaPlaneacions ;trackBy: trackId">
                                <td><a
                                        [routerLink]="['/asistencia-planeacion', asistenciaPlaneacion.id, 'view' ]">{{asistenciaPlaneacion.id}}</a>
                                </td>
                                <td>
                                    <div *ngIf="asistenciaPlaneacion.asignacionTurno">
                                        <a
                                            [routerLink]="['/asignacion-turno', asistenciaPlaneacion.asignacionTurno?.id, 'view' ]">{{asistenciaPlaneacion.asignacionTurno?.id +', '+asistenciaPlaneacion.asignacionTurno?.turno.nombre}}</a>
                                    </div>
                                </td>
                                <td>
                                    <div *ngIf="asistenciaPlaneacion.asistencia">
                                        <a
                                            [routerLink]="['/asistencia', asistenciaPlaneacion.asistencia?.id, 'view' ]">{{asistenciaPlaneacion.asistencia?.id}}</a>
                                    </div>
                                </td>
                                <td>
                                    <div *ngIf="asistenciaPlaneacion.colaborador">
                                        <a
                                            [routerLink]="['/colaborador', asistenciaPlaneacion.colaborador?.id, 'view' ]">{{asistenciaPlaneacion.colaborador?.id}}</a>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <div class="btn-group">
                                        <button type="submit"
                                            [routerLink]="['/asistencia-planeacion', asistenciaPlaneacion.id, 'view' ]"
                                            class="btn btn-info btn-sm">
                                            <fa-icon [icon]="'eye'"></fa-icon>
                                            <span class="d-none d-md-inline"
                                                jhiTranslate="entity.action.view">View</span>
                                        </button>
                                        <button type="submit"
                                            [routerLink]="['/asistencia-planeacion', asistenciaPlaneacion.id, 'edit']"
                                            class="btn btn-primary btn-sm">
                                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                            <span class="d-none d-md-inline"
                                                jhiTranslate="entity.action.edit">Edit</span>
                                        </button>
                                        <button type="submit"
                                            [routerLink]="['/asistencia-planeacion', { outlets: { popup: asistenciaPlaneacion.id + '/delete'} }]"
                                            replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                                            <fa-icon [icon]="'times'"></fa-icon>
                                            <span class="d-none d-md-inline"
                                                jhiTranslate="entity.action.delete">Delete</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </tab>
        <tab heading="Llegada tarde">
            <h2 class="my-4">Llegadas Tarde</h2>
            <div class="alert alert-warning" *ngIf="asistenciasTardias?.length === 0">
                <span >No se encontraron llegadas tarde</span>
            </div>
            <div class="table-responsive" *ngIf="asistenciasTardias?.length > 0">
                <table class="table table-striped" aria-describedby="page-heading">
                    <thead>
                        <tr>
                            <th><span jhiTranslate="global.field.id">ID</span></th>
                            <th><span jhiTranslate="controlAccesoApp.asistenciaPlaneacion.asignacionTurno">Asignacion
                                    Turno</span></th>
                            <th><span jhiTranslate="controlAccesoApp.asistenciaPlaneacion.asistencia">Asistencia</span>
                            </th>
                            <th><span
                                    jhiTranslate="controlAccesoApp.asistenciaPlaneacion.colaborador">Colaborador</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let asistenciaPlaneacion of asistenciasTardias">
                            <td>
                                {{asistenciaPlaneacion.id}}
                            </td>
                            <td>
                                <div *ngIf="asistenciaPlaneacion.asignacionTurno">
                                    {{asistenciaPlaneacion.asignacionTurno?.id +', '+asistenciaPlaneacion.asignacionTurno?.turno.nombre
                                        +': '+(asistenciaPlaneacion.asignacionTurno.turno.horaInicio | date: "shortTime")}}
                                </div>
                            </td>
                            <td>
                                <div *ngIf="asistenciaPlaneacion.asistencia">
                                    {{asistenciaPlaneacion.asistencia?.entrada | date: 'medium'}}
                                </div>
                            </td>
                            <td>
                                <div *ngIf="asistenciaPlaneacion.asignacionTurno.colaboradors">
                                    {{asistenciaPlaneacion.asignacionTurno.colaboradors[0].nombre1
                                    
                                +' '+asistenciaPlaneacion.asignacionTurno.colaboradors[0].apellido1
                            }}
                                </div>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </tab>
        <tab heading="Llegada temprano">
            <h2 class="my-4">Llegadas Temprano</h2>
            <div class="alert alert-warning" *ngIf="asistenciasTempranas?.length === 0">
                <span >No se encontraron llegadas temprano</span>
            </div>
            <div class="table-responsive" *ngIf="asistenciasTempranas?.length > 0">
                <table class="table table-striped" aria-describedby="page-heading">
                    <thead>
                        <tr>
                            <th><span jhiTranslate="global.field.id">ID</span></th>
                            <th><span jhiTranslate="controlAccesoApp.asistenciaPlaneacion.asignacionTurno">Asignacion
                                    Turno</span></th>
                            <th><span jhiTranslate="controlAccesoApp.asistenciaPlaneacion.asistencia">Asistencia</span>
                            </th>
                            <th><span
                                    jhiTranslate="controlAccesoApp.asistenciaPlaneacion.colaborador">Colaborador</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let asistenciaPlaneacion of asistenciasTempranas">
                            <td>
                                {{asistenciaPlaneacion.id}}
                            </td>
                            <td>
                                <div *ngIf="asistenciaPlaneacion.asignacionTurno">
                                    {{asistenciaPlaneacion.asignacionTurno?.id +', '+asistenciaPlaneacion.asignacionTurno?.turno.nombre
                                        +': '+(asistenciaPlaneacion.asignacionTurno.turno.horaInicio | date: "shortTime")}}
                                </div>
                            </td>
                            <td>
                                <div *ngIf="asistenciaPlaneacion.asistencia">
                                    {{asistenciaPlaneacion.asistencia?.entrada | date: 'medium'}}
                                </div>
                            </td>
                            <td>
                                <div *ngIf="asistenciaPlaneacion.asignacionTurno.colaboradors">
                                    {{asistenciaPlaneacion.asignacionTurno.colaboradors[0].nombre1
                                    +' '+asistenciaPlaneacion.asignacionTurno.colaboradors[0].nombre2
                                +' '+asistenciaPlaneacion.asignacionTurno.colaboradors[0].apellido1
                            +' '+asistenciaPlaneacion.asignacionTurno.colaboradors[0].apellido2}}
                                </div>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </tab>
    </tabset>
</div>