<div>
    <tabset>
        <tab heading="Registro Asistencia" id="tab1">
            <div>
                <h2 id="page-heading" class="mt-4">
                    <span>Asistencias Planeación</span>
                    <button *jhiHasAnyAuthority="'ROLE_ADMIN'" id="jh-create-entity"
                        class="btn btn-primary float-right jh-create-entity create-asistencia-planeacion"
                        [routerLink]="['/asistencia-planeacion/new']">
                        <fa-icon [icon]="'plus'"></fa-icon>
                        <span>
                            Ingresar Asistencia Planeación
                        </span>
                    </button>
                    <button class="btn btn-primary float-right jh-create-entity mx-2 "
                        (click)="this.cargarAsistencias()">
                        <fa-icon [icon]="'history'"></fa-icon>
                        <span>
                            Cargar Asistencias
                        </span>
                    </button>
                </h2>
                <jhi-alert></jhi-alert>
                <br />
                <div class="alert alert-warning" *ngIf="asistenciaPlaneacions?.length === 0">
                    <span jhiTranslate="controlAccesoApp.asistenciaPlaneacion.home.notFound">No asistenciaPlaneacions
                        found</span>
                </div>
                <div class="table-responsive" *ngIf="asistenciaPlaneacions?.length > 0">
                    <table class="table table-striped" aria-describedby="page-heading">
                        <thead>
                            <tr>
                                <th *jhiHasAnyAuthority="'ROLE_ADMIN'"><span jhiTranslate="global.field.id">ID</span>
                                </th>
                                <th><span
                                        jhiTranslate="controlAccesoApp.asistenciaPlaneacion.asignacionTurno">Asignacion
                                        Turno</span></th>
                                <th><span
                                        jhiTranslate="controlAccesoApp.asistenciaPlaneacion.asistencia">Asistencia</span>
                                </th>
                                <th><span
                                        jhiTranslate="controlAccesoApp.asistenciaPlaneacion.colaborador">Colaborador</span>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let asistenciaPlaneacion of asistenciaPlaneacions ;trackBy: trackId">
                                <td *jhiHasAnyAuthority="'ROLE_ADMIN'"><a
                                        [routerLink]="['/asistencia-planeacion', asistenciaPlaneacion.id, 'view' ]">{{asistenciaPlaneacion.id}}</a>
                                </td>
                                <td>
                                    <div *ngIf="asistenciaPlaneacion.asignacionTurno">
                                        <a
                                            [routerLink]="['/asignacion-turno', asistenciaPlaneacion.asignacionTurno?.id, 'view' ]">
                                            {{asistenciaPlaneacion.asignacionTurno?.turno.nombre}}</a>
                                    </div>
                                </td>
                                <td>
                                    <div *ngIf="asistenciaPlaneacion.asistencia">
                                        <a class="text-dark"
                                            [routerLink]="['/asistencia', asistenciaPlaneacion.asistencia?.id, 'view' ]">
                                            <strong>Ingreso: </strong>
                                            <a>{{asistenciaPlaneacion.asistencia?.entrada | date: 'yyyy-MM-dd h:mm a'}}</a><br>
                                            <strong>Salida: </strong>
                                            <a>{{asistenciaPlaneacion.asistencia?.salida | date: 'yyyy-MM-dd h:mm a'}}</a>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div *ngIf="asistenciaPlaneacion.colaborador">
                                        <a
                                            [routerLink]="['/colaborador', asistenciaPlaneacion.colaborador?.id, 'view' ]">{{utilCol.getStrColaborador(asistenciaPlaneacion.colaborador)}}</a>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <div class="btn-group">
                                        <button type="submit"
                                            [routerLink]="['/asistencia-planeacion', asistenciaPlaneacion.id, 'view' ]"
                                            class="btn btn-info btn-sm">
                                            <fa-icon [icon]="'eye'"></fa-icon>
                                            <span class="d-none d-md-inline"
                                                jhiTranslate="entity.action.view">View</span>
                                        </button>
                                        <button type="submit"
                                            [routerLink]="['/asistencia-planeacion', asistenciaPlaneacion.id, 'edit']"
                                            class="btn btn-primary btn-sm">
                                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                            <span class="d-none d-md-inline"
                                                jhiTranslate="entity.action.edit">Edit</span>
                                        </button>
                                        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit"
                                            [routerLink]="['/asistencia-planeacion', { outlets: { popup: asistenciaPlaneacion.id + '/delete'} }]"
                                            replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                                            <fa-icon [icon]="'times'"></fa-icon>
                                            <span class="d-none d-md-inline"
                                                jhiTranslate="entity.action.delete">Delete</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </tab>
        <tab heading="Llegada tarde" (selectTab)="this.cargarAsistenciasPlanificacion('entradas-tarde')">
            <h2 class="my-4" (click)="this.cargarAsistenciasPlanificacion('entradas-tarde')">Llegadas Tarde</h2>
            <div class="alert alert-warning" *ngIf="listaAsistencias?.length === 0">
                <span>No se encontraron llegadas tarde</span>
            </div>
            <div class="table-responsive" *ngIf="listaAsistencias?.length > 0">
                <table class="table table-striped" aria-describedby="page-heading">
                    <thead>
                        <tr>
                            <!--th *jhiHasAnyAuthority="'ROLE_ADMIN'"><span jhiTranslate="global.field.id">ID</span></th-->
                            <th><span>Fecha asistencia</span></th>
                            <th><span>Cargo / Turno</span></th>
                            <th><span>Horario</span></th>
                            <th><span>Minutos de diferencia</span></th>
                            <th><span>Colaborador</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let objAsistencia of listaAsistencias">
                            <!--td *jhiHasAnyAuthority="'ROLE_ADMIN'">
                                {{objAsistencia.id}}
                            </td-->
                            <td id="fecha-asistencia">
                                <div>
                                    {{objAsistencia.fechaAsistenciaTurno | date: 'mediumDate'}}
                                </div>
                            </td>
                            <td id="cargo-turno">
                                <div>
                                    {{objAsistencia.nombreCargo
                                        +' / '+objAsistencia.nombreTurno}}
                                </div>
                            </td>


                            <td id="horario">
                                <div>
                                    {{(objAsistencia.horaInicioTurno | date: 'h:mm a')
                                        + ' - ' + ( objAsistencia.horaFinTurno | date: 'h:mm a')}}
                                </div>
                            </td>
                            <td id="minutos-diferencia">
                                <div>
                                    {{objAsistencia.minutosDiferencia}}
                                </div>
                            </td>
                            <td id="colaborador">
                                <div *ngIf="objAsistencia.colaborador">
                                    <a
                                        [routerLink]="['/colaborador', objAsistencia.colaborador?.id, 'view' ]">{{utilCol.getStrColaborador(objAsistencia.colaborador)}}</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </tab>
        <tab heading="Llegada temprano" (selectTab)="this.cargarAsistenciasPlanificacion('entradas-temprano')">
            <h2 class="my-4">Llegadas Temprano</h2>
            <div class="alert alert-warning" *ngIf="listaAsistencias?.length === 0">
                <span>No se encontraron llegadas temprano</span>
            </div>
            <div class="table-responsive" *ngIf="listaAsistencias?.length > 0">
                <table class="table table-striped" aria-describedby="page-heading">
                    <thead>
                        <tr>
                            <!--th *jhiHasAnyAuthority="'ROLE_ADMIN'"><span jhiTranslate="global.field.id">ID</span></th-->
                            <th><span>Fecha asistencia</span></th>
                            <th><span>Cargo / Turno</span></th>
                            <th><span>Horario</span></th>
                            <th><span>Minutos de diferencia</span></th>
                            <th><span>Colaborador</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let objAsistencia of listaAsistencias">
                            <!--td *jhiHasAnyAuthority="'ROLE_ADMIN'">
                                {{objAsistencia.id}}
                            </td-->
                            <td id="fecha-asistencia">
                                <div>
                                    {{objAsistencia.fechaAsistenciaTurno | date: 'mediumDate'}}
                                </div>
                            </td>
                            <td id="cargo-turno">
                                <div>
                                    {{objAsistencia.nombreCargo
                                        +' / '+objAsistencia.nombreTurno}}
                                </div>
                            </td>


                            <td id="horario">
                                <div>
                                    {{(objAsistencia.horaInicioTurno | date: 'h:mm a')
                                        + ' - ' + ( objAsistencia.horaFinTurno | date: 'h:mm a')}}
                                </div>
                            </td>
                            <td id="minutos-diferencia">
                                <div>
                                    {{objAsistencia.minutosDiferencia}}
                                </div>
                            </td>
                            <td id="colaborador">
                                <div *ngIf="objAsistencia.colaborador">
                                    <a
                                        [routerLink]="['/colaborador', objAsistencia.colaborador?.id, 'view' ]">{{utilCol.getStrColaborador(objAsistencia.colaborador)}}</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </tab>

        <tab heading="Salida tarde" (selectTab)="this.cargarAsistenciasPlanificacion('salidas-tarde')">
            <h2 class="my-4">Salidas Tarde</h2>
            <div class="alert alert-warning" *ngIf="listaAsistencias?.length === 0">
                <span>No se encontraron salidas tarde</span>
            </div>
            <div class="table-responsive" *ngIf="listaAsistencias?.length > 0">
                <table class="table table-striped" aria-describedby="page-heading">
                    <thead>
                        <tr>
                            <!--th *jhiHasAnyAuthority="'ROLE_ADMIN'"><span jhiTranslate="global.field.id">ID</span></th-->
                            <th><span>Fecha asistencia</span></th>
                            <th><span>Cargo / Turno</span></th>
                            <th><span>Horario</span></th>
                            <th><span>Minutos de diferencia</span></th>
                            <th><span>Colaborador</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let objAsistencia of listaAsistencias">
                            <!--td *jhiHasAnyAuthority="'ROLE_ADMIN'">
                                {{objAsistencia.id}}
                            </td-->
                            <td id="fecha-asistencia">
                                <div>
                                    {{objAsistencia.fechaAsistenciaTurno | date: 'mediumDate'}}
                                </div>
                            </td>
                            <td id="cargo-turno">
                                <div>
                                    {{objAsistencia.nombreCargo
                                        +' / '+objAsistencia.nombreTurno}}
                                </div>
                            </td>


                            <td id="horario">
                                <div>
                                    {{(objAsistencia.horaInicioTurno | date: 'h:mm a')
                                        + ' - ' + ( objAsistencia.horaFinTurno | date: 'h:mm a')}}
                                </div>
                            </td>
                            <td id="minutos-diferencia">
                                <div>
                                    {{objAsistencia.minutosDiferencia}}
                                </div>
                            </td>
                            <td id="colaborador">
                                <div *ngIf="objAsistencia.colaborador">
                                    <a
                                        [routerLink]="['/colaborador', objAsistencia.colaborador?.id, 'view' ]">{{utilCol.getStrColaborador(objAsistencia.colaborador)}}</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </tab>

        <tab heading="Salida temprano" (selectTab)="this.cargarAsistenciasPlanificacion('salidas-temprano')">
            <h2 class="my-4">Salidas Temprano</h2>
            <div class="alert alert-warning" *ngIf="listaAsistencias?.length === 0">
                <span>No se encontraron salidas temprano</span>
            </div>
            <div class="table-responsive" *ngIf="listaAsistencias?.length > 0">
                <table class="table table-striped" aria-describedby="page-heading">
                    <thead>
                        <tr>
                            <!--th *jhiHasAnyAuthority="'ROLE_ADMIN'"><span jhiTranslate="global.field.id">ID</span></th-->
                            <th><span>Fecha asistencia</span></th>
                            <th><span>Cargo / Turno</span></th>
                            <th><span>Horario</span></th>
                            <th><span>Minutos de diferencia</span></th>
                            <th><span>Colaborador</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let objAsistencia of listaAsistencias">
                            <!--td *jhiHasAnyAuthority="'ROLE_ADMIN'">
                                {{objAsistencia.id}}
                            </td-->
                            <td id="fecha-asistencia">
                                <div>
                                    {{objAsistencia.fechaAsistenciaTurno | date: 'mediumDate'}}
                                </div>
                            </td>
                            <td id="cargo-turno">
                                <div>
                                    {{objAsistencia.nombreCargo
                                        +' / '+objAsistencia.nombreTurno}}
                                </div>
                            </td>


                            <td id="horario">
                                <div>
                                    {{(objAsistencia.horaInicioTurno | date: 'h:mm a')
                                        + ' - ' + ( objAsistencia.horaFinTurno | date: 'h:mm a')}}
                                </div>
                            </td>
                            <td id="minutos-diferencia">
                                <div>
                                    {{objAsistencia.minutosDiferencia}}
                                </div>
                            </td>
                            <td id="colaborador">
                                <div *ngIf="objAsistencia.colaborador">
                                    <a
                                        [routerLink]="['/colaborador', objAsistencia.colaborador?.id, 'view' ]">{{utilCol.getStrColaborador(objAsistencia.colaborador)}}</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </tab>
    </tabset>
</div>