<div>
    <tabset>
        <tab heading="Sin registro" id="tab1" (selectTab)="this.cargarAsistenciasPlanificacion('sin-registro')">
            <div>
                <h2 id="page-heading" class="mt-4">
                    <span>Asistencias sin registro de entrada</span>
                    <button *jhiHasAnyAuthority="'ROLE_ADMIN'" id="jh-create-entity"
                        class="btn btn-primary float-right jh-create-entity create-asistencia-planeacion"
                        [routerLink]="['/asistencia-planeacion/new']">
                        <fa-icon [icon]="'plus'"></fa-icon>
                        <span>
                            Ingresar Asistencia Planeación
                        </span>
                    </button>
                    <button class="btn btn-primary float-right jh-create-entity mx-2 "
                        >
                        <fa-icon [icon]="'history'"></fa-icon>
                        <span>
                            Cargar Asistencias
                        </span>
                    </button>
                </h2>
                <div class="row">
                    <div class="col-md-5">
                        <h4 jhiTranslate="audits.filter.title">Filter by date</h4>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">del</span>
                            </div>
                            <input type="date" class="form-control" name="start" [(ngModel)]="fromDate"
                                (ngModelChange)="this.transition()" required />
            
                            <div class="input-group-append">
                                <span class="input-group-text" >al</span>
                            </div>
                            <input type="date" class="form-control" name="end" [(ngModel)]="toDate"
                                (ngModelChange)="this.transition()" required />
                        </div>
                    </div>
                </div>
                <jhi-alert></jhi-alert>                
                <div class="alert alert-warning" *ngIf="listaAsistencias?.length === 0 && !this.cargando">
                    <span jhiTranslate="controlAccesoApp.asistenciaPlaneacion.home.notFound">No asistenciaPlaneacions
                        found</span>
                </div>
                <div class="table-responsive" *ngIf="listaAsistencias?.length > 0">
                    <table class="table table-striped" aria-describedby="page-heading">
                        <thead>
                            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                                <!--th *jhiHasAnyAuthority="'ROLE_ADMIN'"><span jhiTranslate="global.field.id">ID</span></th-->
                                <th jhiSortBy="fechaAsistenciaTurno"><span>Fecha asistencia</span>
                                    <fa-icon [icon]="'sort'"></fa-icon>
                                </th>
                                <th jhiSortBy="nombreTurno"><span>Cargo / Turno</span>
                                    <fa-icon [icon]="'sort'"></fa-icon>
                                </th>
                                <th jhiSortBy="nombreTurno"><span>Horario</span>
                                    <fa-icon [icon]="'sort'"></fa-icon>
                                </th>
                                <th jhiSortBy="minDiferencia">
                                    <span>Minutos de diferencia</span>
                                    <fa-icon [icon]="'sort'"></fa-icon>
                                </th>
                                <th jhiSortBy="colaborador.id"><span>Colaborador</span>
                                    <fa-icon [icon]="'sort'"></fa-icon>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let objAsistencia of listaAsistencias">
                                <!--td *jhiHasAnyAuthority="'ROLE_ADMIN'">
                                    {{objAsistencia.id}}
                                </td-->
                                <td id="fecha-asistencia">
                                    <div>
                                        {{objAsistencia.fechaAsistenciaTurno | date: 'mediumDate'}}
                                    </div>
                                </td>
                                <td id="cargo-turno">
                                    <div>
                                        {{objAsistencia.nombreCargo
                                            +' / '+objAsistencia.nombreTurno}}
                                    </div>
                                </td>
    
    
                                <td id="horario">
                                    <div>
                                        {{(objAsistencia.horaInicioTurno | date: 'h:mm a')
                                            + ' - ' + ( objAsistencia.horaFinTurno | date: 'h:mm a')}}
                                    </div>
                                </td>
                                <td id="minutos-diferencia">
                                    <div>
                                        {{this.getStringMinutosRegistro(objAsistencia,'sin-registro')}}
                                    </div>
                                </td>
                                <td id="colaborador">
                                    <div *ngIf="objAsistencia.colaborador">
                                        <a
                                            [routerLink]="['/colaborador', objAsistencia.colaborador?.id, 'view' ]">{{utilCol.getStrColaborador(objAsistencia.colaborador)}}</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </tab>
        <tab heading="Llegada tarde" (selectTab)="this.cargarAsistenciasPlanificacion('entradas-tarde')">
            <h2 class="my-4" (click)="this.cargarAsistenciasPlanificacion('entradas-tarde')">Llegadas Tarde</h2>
            <div class="row">
                <div class="col-md-5">
                    <h4 jhiTranslate="audits.filter.title">Filter by date</h4>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">del</span>
                        </div>
                        <input type="date" class="form-control" name="start" [(ngModel)]="fromDate"
                            (ngModelChange)="this.cargarAsistenciasPlanificacion('entradas-tarde')" required />
        
                        <div class="input-group-append">
                            <span class="input-group-text" >al</span>
                        </div>
                        <input type="date" class="form-control" name="end" [(ngModel)]="toDate"
                            (ngModelChange)="this.cargarAsistenciasPlanificacion('entradas-tarde')" required />
                    </div>
                </div>
            </div>
            <jhi-alert></jhi-alert>            
            <div class="alert alert-warning" *ngIf="listaAsistencias?.length === 0 && !this.cargando">
                <span>No se encontraron llegadas tarde</span>
            </div>
            <div class="table-responsive" *ngIf="listaAsistencias?.length > 0">
                <table class="table table-striped" aria-describedby="page-heading">
                    <thead>
                        <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                            <!--th *jhiHasAnyAuthority="'ROLE_ADMIN'"><span jhiTranslate="global.field.id">ID</span></th-->
                            <th jhiSortBy="fechaAsistenciaTurno"><span>Fecha asistencia</span>
                                <fa-icon [icon]="'sort'"></fa-icon>
                            </th>
                            <th jhiSortBy="nombreTurno"><span>Cargo / Turno</span>
                                <fa-icon [icon]="'sort'"></fa-icon>
                            </th>
                            <th jhiSortBy="nombreTurno"><span>Horario</span>
                                <fa-icon [icon]="'sort'"></fa-icon>
                            </th>
                            <th jhiSortBy="minDiferencia">
                                <span>Minutos de diferencia</span>
                                <fa-icon [icon]="'sort'"></fa-icon>
                            </th>
                            <th jhiSortBy="colaborador.id"><span>Colaborador</span>
                                <fa-icon [icon]="'sort'"></fa-icon>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let objAsistencia of listaAsistencias">
                            <!--td *jhiHasAnyAuthority="'ROLE_ADMIN'">
                                {{objAsistencia.id}}
                            </td-->
                            <td id="fecha-asistencia">
                                <div>
                                    {{objAsistencia.fechaAsistenciaTurno | date: 'mediumDate'}}
                                </div>
                            </td>
                            <td id="cargo-turno">
                                <div>
                                    {{objAsistencia.nombreCargo
                                        +' / '+objAsistencia.nombreTurno}}
                                </div>
                            </td>


                            <td id="horario">
                                <div>
                                    {{(objAsistencia.horaInicioTurno | date: 'h:mm a')
                                        + ' - ' + ( objAsistencia.horaFinTurno | date: 'h:mm a')}}
                                </div>
                            </td>
                            <td id="minutos-diferencia">
                                <div>
                                    {{this.getStringMinutosRegistro(objAsistencia,'entrada')}}
                                </div>
                            </td>
                            <td id="colaborador">
                                <div *ngIf="objAsistencia.colaborador">
                                    <a
                                        [routerLink]="['/colaborador', objAsistencia.colaborador?.id, 'view' ]">{{utilCol.getStrColaborador(objAsistencia.colaborador)}}</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </tab>
        <tab heading="Llegada temprano" (selectTab)="this.cargarAsistenciasPlanificacion('entradas-temprano')">
            <h2 class="my-4">Llegadas Temprano</h2>
            <div class="row">
                <div class="col-md-5">
                    <h4 jhiTranslate="audits.filter.title">Filter by date</h4>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">del</span>
                        </div>
                        <input type="date" class="form-control" name="start" [(ngModel)]="fromDate"
                            (ngModelChange)="this.cargarAsistenciasPlanificacion('entradas-temprano')" required />
        
                        <div class="input-group-append">
                            <span class="input-group-text" >al</span>
                        </div>
                        <input type="date" class="form-control" name="end" [(ngModel)]="toDate"
                            (ngModelChange)="this.cargarAsistenciasPlanificacion('entradas-temprano')" required />
                    </div>
                </div>
            </div>
            <jhi-alert></jhi-alert>  
            <div class="alert alert-warning" *ngIf="listaAsistencias?.length === 0 && !this.cargando">
                <span>No se encontraron llegadas temprano</span>
            </div>
            <div class="table-responsive" *ngIf="listaAsistencias?.length > 0">
                <table class="table table-striped" aria-describedby="page-heading">
                    <thead>
                        <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                            <!--th *jhiHasAnyAuthority="'ROLE_ADMIN'"><span jhiTranslate="global.field.id">ID</span></th-->
                            <th jhiSortBy="fechaAsistenciaTurno"><span>Fecha asistencia</span>
                                <fa-icon [icon]="'sort'"></fa-icon>
                            </th>
                            <th jhiSortBy="nombreTurno"><span>Cargo / Turno</span>
                                <fa-icon [icon]="'sort'"></fa-icon>
                            </th>
                            <th jhiSortBy="nombreTurno"><span>Horario</span>
                                <fa-icon [icon]="'sort'"></fa-icon>
                            </th>
                            <th jhiSortBy="minDiferencia">
                                <span>Minutos de diferencia</span>
                                <fa-icon [icon]="'sort'"></fa-icon>
                            </th>
                            <th jhiSortBy="colaborador.id"><span>Colaborador</span>
                                <fa-icon [icon]="'sort'"></fa-icon>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let objAsistencia of listaAsistencias">
                            <!--td *jhiHasAnyAuthority="'ROLE_ADMIN'">
                                {{objAsistencia.id}}
                            </td-->
                            <td id="fecha-asistencia">
                                <div>
                                    {{objAsistencia.fechaAsistenciaTurno | date: 'mediumDate'}}
                                </div>
                            </td>
                            <td id="cargo-turno">
                                <div>
                                    {{objAsistencia.nombreCargo
                                        +' / '+objAsistencia.nombreTurno}}
                                </div>
                            </td>


                            <td id="horario">
                                <div>
                                    {{(objAsistencia.horaInicioTurno | date: 'h:mm a')
                                        + ' - ' + ( objAsistencia.horaFinTurno | date: 'h:mm a')}}
                                </div>
                            </td>
                            <td id="minutos-diferencia">
                                <!--div>
                                    this.getStringMinutosRegistro(objAsistencia,'sin-registro')
                                    {{(objAsistencia.minDiferenciaEntrada * -1) + ' minuto' + ((objAsistencia.minDiferenciaEntrada * -1) !== 1 ? 's' : '') + ' temprano'}}
                                </div-->
                                <div>                                    
                                    {{this.getStringMinutosRegistro(objAsistencia,'entrada')}}
                                </div>
                            </td>
                            <td id="colaborador">
                                <div *ngIf="objAsistencia.colaborador">
                                    <a
                                        [routerLink]="['/colaborador', objAsistencia.colaborador?.id, 'view' ]">{{utilCol.getStrColaborador(objAsistencia.colaborador)}}</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </tab>

        <tab heading="Salida tarde" (selectTab)="this.cargarAsistenciasPlanificacion('salidas-tarde')">
            <h2 class="my-4">Salidas Tarde</h2>
            <div class="row">
                <div class="col-md-5">
                    <h4 jhiTranslate="audits.filter.title">Filter by date</h4>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">del</span>
                        </div>
                        <input type="date" class="form-control" name="start" [(ngModel)]="fromDate"
                            (ngModelChange)="this.cargarAsistenciasPlanificacion('salidas-tarde')" required />
        
                        <div class="input-group-append">
                            <span class="input-group-text" >al</span>
                        </div>
                        <input type="date" class="form-control" name="end" [(ngModel)]="toDate"
                            (ngModelChange)="this.cargarAsistenciasPlanificacion('salidas-tarde')" required />
                    </div>
                </div>
            </div>
            <jhi-alert></jhi-alert>  
            <div class="alert alert-warning" *ngIf="listaAsistencias?.length === 0 && !this.cargando">
                <span>No se encontraron salidas tarde</span>
            </div>
            <div class="table-responsive" *ngIf="listaAsistencias?.length > 0">
                <table class="table table-striped" aria-describedby="page-heading">
                    <thead>
                        <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                            <!--th *jhiHasAnyAuthority="'ROLE_ADMIN'"><span jhiTranslate="global.field.id">ID</span></th-->
                            <th jhiSortBy="fechaAsistenciaTurno"><span>Fecha asistencia</span>
                                <fa-icon [icon]="'sort'"></fa-icon>
                            </th>
                            <th jhiSortBy="nombreTurno"><span>Cargo / Turno</span>
                                <fa-icon [icon]="'sort'"></fa-icon>
                            </th>
                            <th jhiSortBy="nombreTurno"><span>Horario</span>
                                <fa-icon [icon]="'sort'"></fa-icon>
                            </th>
                            <th jhiSortBy="minDiferencia">
                                <span>Minutos de diferencia</span>
                                <fa-icon [icon]="'sort'"></fa-icon>
                            </th>
                            <th jhiSortBy="colaborador.id"><span>Colaborador</span>
                                <fa-icon [icon]="'sort'"></fa-icon>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let objAsistencia of listaAsistencias">
                            <!--td *jhiHasAnyAuthority="'ROLE_ADMIN'">
                                {{objAsistencia.id}}
                            </td-->
                            <td id="fecha-asistencia">
                                <div>
                                    {{objAsistencia.fechaAsistenciaTurno | date: 'mediumDate'}}
                                </div>
                            </td>
                            <td id="cargo-turno">
                                <div>
                                    {{objAsistencia.nombreCargo
                                        +' / '+objAsistencia.nombreTurno}}
                                </div>
                            </td>


                            <td id="horario">
                                <div>
                                    {{(objAsistencia.horaInicioTurno | date: 'h:mm a')
                                        + ' - ' + ( objAsistencia.horaFinTurno | date: 'h:mm a')}}
                                </div>
                            </td>
                            <td id="minutos-diferencia">
                                <div>
                                    {{this.getStringMinutosRegistro(objAsistencia,'salida')}}
                                </div>
                            </td>
                            <td id="colaborador">
                                <div *ngIf="objAsistencia.colaborador">
                                    <a
                                        [routerLink]="['/colaborador', objAsistencia.colaborador?.id, 'view' ]">{{utilCol.getStrColaborador(objAsistencia.colaborador)}}</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </tab>

        <tab heading="Salida temprano" (selectTab)="this.cargarAsistenciasPlanificacion('salidas-temprano')">
            <h2 class="my-4">Salidas Temprano</h2>
            <div class="row">
                <div class="col-md-5">
                    <h4 jhiTranslate="audits.filter.title">Filter by date</h4>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">del</span>
                        </div>
                        <input type="date" class="form-control" name="start" [(ngModel)]="fromDate"
                            (ngModelChange)="this.cargarAsistenciasPlanificacion('salidas-temprano')" required />
        
                        <div class="input-group-append">
                            <span class="input-group-text" >al</span>
                        </div>
                        <input type="date" class="form-control" name="end" [(ngModel)]="toDate"
                            (ngModelChange)="this.cargarAsistenciasPlanificacion('salidas-temprano')" required />
                    </div>
                </div>
            </div>
            <jhi-alert></jhi-alert>  
            <div class="alert alert-warning" *ngIf="listaAsistencias?.length === 0 && !this.cargando">
                <span>No se encontraron salidas temprano</span>
            </div>
            <div class="table-responsive" *ngIf="listaAsistencias?.length > 0 ">
                <table class="table table-striped" aria-describedby="page-heading">
                    <thead>
                        <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                            <!--th *jhiHasAnyAuthority="'ROLE_ADMIN'"><span jhiTranslate="global.field.id">ID</span></th-->
                            <th jhiSortBy="fechaAsistenciaTurno"><span>Fecha asistencia</span>
                                <fa-icon [icon]="'sort'"></fa-icon>
                            </th>
                            <th jhiSortBy="nombreTurno"><span>Cargo / Turno</span>
                                <fa-icon [icon]="'sort'"></fa-icon>
                            </th>
                            <th jhiSortBy="nombreTurno"><span>Horario</span>
                                <fa-icon [icon]="'sort'"></fa-icon>
                            </th>
                            <th jhiSortBy="minDiferencia">
                                <span>Minutos de diferencia</span>
                                <fa-icon [icon]="'sort'"></fa-icon>
                            </th>
                            <th jhiSortBy="colaborador.id"><span>Colaborador</span>
                                <fa-icon [icon]="'sort'"></fa-icon>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let objAsistencia of listaAsistencias">
                            <!--td *jhiHasAnyAuthority="'ROLE_ADMIN'">
                                {{objAsistencia.id}}
                            </td-->
                            <td id="fecha-asistencia">
                                <div>
                                    {{objAsistencia.fechaAsistenciaTurno | date: 'mediumDate'}}
                                </div>
                            </td>
                            <td id="cargo-turno">
                                <div>
                                    {{objAsistencia.nombreCargo
                                        +' / '+objAsistencia.nombreTurno}}
                                </div>
                            </td>


                            <td id="horario">
                                <div>
                                    {{(objAsistencia.horaInicioTurno | date: 'h:mm a')
                                        + ' - ' + ( objAsistencia.horaFinTurno | date: 'h:mm a')}}
                                </div>
                            </td>
                            <td id="minutos-diferencia">
                                <div>
                                    {{this.getStringMinutosRegistro(objAsistencia,'salida')}}
                                </div>
                            </td>
                            <td id="colaborador">
                                <div *ngIf="objAsistencia.colaborador">
                                    <a
                                        [routerLink]="['/colaborador', objAsistencia.colaborador?.id, 'view' ]">{{utilCol.getStrColaborador(objAsistencia.colaborador)}}</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </tab>
    </tabset>
</div>