<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="asistencia">
            <h2><span jhiTranslate="controlAccesoApp.asistencia.detail.title">Asistencia</span> {{asistencia.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="controlAccesoApp.asistencia.nombre1">Nombre 1</span></dt>
                <dd>
                    <span>{{asistencia.nombre1}}</span>
                </dd>
                <dt><span jhiTranslate="controlAccesoApp.asistencia.nombre2">Nombre 2</span></dt>
                <dd>
                    <span>{{asistencia.nombre2}}</span>
                </dd>
                <dt><span jhiTranslate="controlAccesoApp.asistencia.apellido1">Apellido 1</span></dt>
                <dd>
                    <span>{{asistencia.apellido1}}</span>
                </dd>
                <dt><span jhiTranslate="controlAccesoApp.asistencia.apellido2">Apellido 2</span></dt>
                <dd>
                    <span>{{asistencia.apellido2}}</span>
                </dd>
                <dt><span jhiTranslate="controlAccesoApp.asistencia.fecha">Fecha</span></dt>
                <dd>
                    <span>{{asistencia.fecha}}</span>
                </dd>
                <dt><span jhiTranslate="controlAccesoApp.asistencia.turno">Turno</span></dt>
                <dd>
                    <span>{{asistencia.turno}}</span>
                </dd>
                <dt><span jhiTranslate="controlAccesoApp.asistencia.entrada">Entrada</span></dt>
                <dd>
                    <span>{{asistencia.entrada}}</span>
                </dd>
                <dt><span jhiTranslate="controlAccesoApp.asistencia.salida">Salida</span></dt>
                <dd>
                    <span>{{asistencia.salida}}</span>
                </dd>
                <dt><span jhiTranslate="controlAccesoApp.asistencia.sinEntrada">Sin Entrada</span></dt>
                <dd>
                    <span>{{asistencia.sinEntrada}}</span>
                </dd>
                <dt><span jhiTranslate="controlAccesoApp.asistencia.sinSalida">Sin Salida</span></dt>
                <dd>
                    <span>{{asistencia.sinSalida}}</span>
                </dd>
                <dt><span jhiTranslate="controlAccesoApp.asistencia.ausente">Ausente</span></dt>
                <dd>
                    <span>{{asistencia.ausente}}</span>
                </dd>
                <dt><span jhiTranslate="controlAccesoApp.asistencia.minutosTrabajados">Minutos Trabajados</span></dt>
                <dd>
                    <span>{{asistencia.minutosTrabajados}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/asistencia', asistencia.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
