<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-asistencia-heading" jhiTranslate="controlAccesoApp.asistencia.home.createOrEditLabel">Create or edit a Asistencia</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="controlAccesoApp.asistencia.documentoColaborador" for="field_documentoColaborador">Documento Colaborador</label>
                    <input type="text" class="form-control" name="documentoColaborador" id="field_documentoColaborador"
                           formControlName="documentoColaborador"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="controlAccesoApp.asistencia.entrada" for="field_entrada">Entrada</label>
                    <div class="d-flex">
                        <input id="field_entrada" type="datetime-local" class="form-control" name="entrada" formControlName="entrada" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="controlAccesoApp.asistencia.salida" for="field_salida">Salida</label>
                    <div class="d-flex">
                        <input id="field_salida" type="datetime-local" class="form-control" name="salida" formControlName="salida" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
