<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="asistencia">
            <h2><span jhiTranslate="controlAccesoApp.asistencia.detail.title">Asistencia</span> {{asistencia.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="controlAccesoApp.asistencia.documentoColaborador">Documento Colaborador</span></dt>
                <dd>
                    <span>{{asistencia.documentoColaborador}}</span>
                </dd>
                <dt><span jhiTranslate="controlAccesoApp.asistencia.entrada">Entrada</span></dt>
                <dd>
                    <span>{{asistencia.entrada}}</span>
                </dd>
                <dt><span jhiTranslate="controlAccesoApp.asistencia.salida">Salida</span></dt>
                <dd>
                    <span>{{asistencia.salida}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/asistencia', asistencia.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
