<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="reporteAsistenciaHorasExtras">
            <h2><span jhiTranslate="controlAccesoApp.reporteAsistenciaHorasExtras.detail.title">Reporte Asistencia Horas Extras</span> {{reporteAsistenciaHorasExtras.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="controlAccesoApp.reporteAsistenciaHorasExtras.tipo">Tipo</span></dt>
                <dd>
                    <span>{{reporteAsistenciaHorasExtras.tipo}}</span>
                </dd>
                <dt><span jhiTranslate="controlAccesoApp.reporteAsistenciaHorasExtras.fechaInicio">Fecha Inicio</span></dt>
                <dd>
                    <span>{{reporteAsistenciaHorasExtras.fechaInicio}}</span>
                </dd>
                <dt><span jhiTranslate="controlAccesoApp.reporteAsistenciaHorasExtras.fechaFin">Fecha Fin</span></dt>
                <dd>
                    <span>{{reporteAsistenciaHorasExtras.fechaFin}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/reporte-asistencia-horas-extras', reporteAsistenciaHorasExtras.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
