<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-asignacion-turno-heading"
                jhiTranslate="controlAccesoApp.asignacionTurno.home.createOrEditLabel">Create or edit a Asignacion Turno
            </h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="border rounded shadow p-4 my-3">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="controlAccesoApp.asignacionTurno.fecha"
                            for="field_fecha">Fecha</label>
                        <div class="d-flex">
                            <input id="field_fecha" type="date" class="form-control" name="fecha"
                                formControlName="fecha" />
                        </div>
                    </div>


                    <div class="row my-3">
                        <div class="col-sm-12">
                            <form name="searchForm" class="form-inline">
                                <div class="input-group w-100 mt-3">

                                    <input type="text" class="form-control" [(ngModel)]="currentSearch"
                                        id="currentSearch" name="currentSearch"
                                        placeholder="Ingrese el numero de documento del Colaborador">
                                    <button class="input-group-append btn btn-info"
                                        (click)="searchColaborador(currentSearch)">
                                        <fa-icon [icon]="'search'"></fa-icon>
                                    </button>
                                    <button class="input-group-append btn btn-danger" (click)="clear()"
                                        *ngIf="currentSearch">
                                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                                    </button>

                                </div>
                                <small *ngIf="!this.seEncontraronColaboradores" class="text-danger">
                                    No se encontraron colaboradores con ese nombre o número.</small>
                            </form>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="field_colaboradors">Colaboradores</label>
                        <select class="form-control" id="field_colaboradors" multiple size="8" name="colaboradors"
                            formControlName="colaboradors" (change)="this.setColaboradorSeleccionado()">
                            <option [ngValue]="getSelected(editForm.get('colaboradors').value, colaboradorOption)"
                                *ngFor="let colaboradorOption of colaboradors; trackBy: trackColaboradorById">
                                <div class="row">
                                    <div class="col-2">{{colaboradorOption.numeroDocumento + " : " }} </div>
                                    <div class="col-5">
                                        {{ colaboradorOption.nombre1 + " "+ (colaboradorOption.nombre2 ? colaboradorOption.nombre2 : '') }}
                                    </div>
                                    <div class="col-5">
                                        {{colaboradorOption.apellido1+" "+ (colaboradorOption.apellido2 ? colaboradorOption.apellido2 : '') }}
                                    </div>
                                </div>
                            </option>
                        </select>
                    </div>
                </div>
                <div *ngIf="colaboradorEncontrado !== undefined" class="border rounded shadow p-4 my-3">
                    <h4>Datos Colaborador</h4>
                    <div class="form-row">

                        <div class="col-3">
                            <dt><span>Tipo Documento</span></dt>
                            <dd>
                                <span>{{colaboradorEncontrado.tipoDocumento}}</span><br>
                                <span>{{colaboradorEncontrado.numeroDocumento}}</span>
                            </dd>
                        </div>
                        <div class="col-3">
                            <dt><span>Nombres</span></dt>
                            <dd>
                                <span>{{colaboradorEncontrado.nombre1 +" "+ (colaboradorEncontrado.nombre2 ? colaboradorEncontrado.nombre2 : '')}}</span>
                            </dd>
                        </div>
                        <div class="col-3">
                            <dt><span>Apellidos</span></dt>
                            <dd>
                                <span>{{colaboradorEncontrado.apellido1 + " " + (colaboradorEncontrado.apellido2 ? colaboradorEncontrado.apellido2 : '')}}</span>
                            </dd>
                        </div>
                        <div class="col-3">
                            <dt><span>Fecha de Ingreso</span></dt>
                            <dd>
                                <span>{{colaboradorEncontrado.fechaIngreso | date: 'mediumDate'}}</span>
                            </dd>
                        </div>

                    </div>

                </div>

                <div *ngIf="colaboradorEncontrado !== undefined && this.asignacionesColSeleccionado.length > 0"
                    class="border rounded shadow p-4 my-3">
                    <h4>Asignacion Actual </h4>
                    <div class="row">
                        <div class="col-3">
                            <dt>Turno</dt>
                        </div>
                        <div class="col-3">
                            <dt>Cargo</dt>
                        </div>
                    </div>
                    <div *ngFor="let item of this.asignacionesColSeleccionado" class="row my-2">
                        <div class="col-3">
                            <div class={{item.turno?.color?.toLowerCase()}}>
                                {{item.turno ? item.turno.nombre : '(Terminar asignación)'}}
                            </div>
                        </div>
                        <div class="col-3">
                            {{item.cargo ? item.cargo.nombre : '(Sin asignar)'}}
                        </div>
                        <button type="button" class="btn btn-danger btn-sm" (click)="this.desasignarTurno(item)">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Desasignar</span>
                        </button>
                    </div>
                </div>

                <jhi-alert></jhi-alert>
                <!--div class="form-group">
                    <label class="form-control-label" jhiTranslate="controlAccesoApp.asignacionTurno.intercambioTurno"
                        for="field_intercambioTurno">Intercambio Turno</label>
                    <select class="form-control" id="field_intercambioTurno" name="intercambioTurno"
                        formControlName="intercambioTurno">
                        <option [ngValue]="null"></option>
                        <option
                            [ngValue]="intercambioTurnoOption.id === editForm.get('intercambioTurno').value?.id ? editForm.get('intercambioTurno').value : intercambioTurnoOption"
                            *ngFor="let intercambioTurnoOption of intercambioturnos; trackBy: trackIntercambioTurnoById">
                            {{intercambioTurnoOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label"
                        jhiTranslate="controlAccesoApp.asignacionTurno.asistenciaPlaneacion"
                        for="field_asistenciaPlaneacion">Asistencia Planeacion</label>
                    <select class="form-control" id="field_asistenciaPlaneacion" name="asistenciaPlaneacion"
                        formControlName="asistenciaPlaneacion">
                        <option [ngValue]="null"></option>
                        <option
                            [ngValue]="asistenciaPlaneacionOption.id === editForm.get('asistenciaPlaneacion').value?.id ? editForm.get('asistenciaPlaneacion').value : asistenciaPlaneacionOption"
                            *ngFor="let asistenciaPlaneacionOption of asistenciaplaneacions; trackBy: trackAsistenciaPlaneacionById">
                            {{asistenciaPlaneacionOption.id}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="controlAccesoApp.asignacionTurno.planeacionSemanal"
                        for="field_planeacionSemanal">Planeacion Semanal</label>
                    <select class="form-control" id="field_planeacionSemanal" name="planeacionSemanal"
                        formControlName="planeacionSemanal">
                        <option [ngValue]="null"></option>
                        <option
                            [ngValue]="planeacionSemanalOption.id === editForm.get('planeacionSemanal').value?.id ? editForm.get('planeacionSemanal').value : planeacionSemanalOption"
                            *ngFor="let planeacionSemanalOption of planeacionsemanals; trackBy: trackPlaneacionSemanalById">
                            {{planeacionSemanalOption.id}}</option>
                    </select>
                </div-->
                <div *ngIf="this.maximoAsignacionesExcedido" class="mb-3">
                    <small class="form-text text-warning">
                        Debe desasignar alguno de los turnos del colaborador actuar para poder asignar uno nuevo
                    </small>
                </div>
                <div *ngIf="this.colaboradorEncontrado !== undefined && !this.maximoAsignacionesExcedido"
                    class="border rounded shadow p-4 my-3">
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label for="field_centroCosto">Centro de Costos</label>
                            <select class="form-control" id="field_centroCosto" name="centroCosto"
                                formControlName="centroDeCosto" (change)="cargarCargos()">
                                <option value="cualquiera">Todos</option>
                                <option *ngFor="let centroCostoOption of centrocostos" [ngValue]="centroCostoOption.id">
                                    {{centroCostoOption.nombre}}</option>
                            </select>
                        </div>

                        <div *ngIf="this.editForm.get(['centroDeCosto']).value !== undefined" class="form-group col-6">
                            <label class="form-control-label" jhiTranslate="controlAccesoApp.asignacionTurno.cargo"
                                for="field_cargo">Cargo</label>
                            <select class="form-control" id="field_cargo" name="cargo" formControlName="cargo">
                                <option
                                    [ngValue]="cargoOption.id === editForm.get('cargo').value?.id ? editForm.get('cargo').value : cargoOption"
                                    *ngFor="let cargoOption of cargos; trackBy: trackCargoById">{{cargoOption.nombre}}
                                </option>
                            </select>

                            <div *ngIf="editForm.get('cargo').invalid ">
                                <small class="form-text text-danger" *ngIf="editForm.get('cargo').errors.required">
                                    Debe seleccionar un cargo para poder continuar
                                </small>
                            </div>
                        </div>
                    </div>
                    <div
                        *ngIf="this.editForm.get(['cargo']).value !== undefined || this.editForm.get(['cargo']).value !== null ">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="controlAccesoApp.asignacionTurno.turno"
                                for="field_turno">Turno</label>
                            <select class="form-control" id="field_turno" name="turno" formControlName="turno"
                                (change)="this.comprobarSeleccionTurno()">
                                <option [ngValue]="null"></option>                                
                                <option class={{turnoOption.color?.toLowerCase()}}
                                    [ngValue]="turnoOption.id === editForm.get('turno').value ? editForm.get('turno').value : turnoOption"
                                    *ngFor="let turnoOption of turnos; trackBy: trackTurnoById">
                                    {{turnoOption.nombre}}
                                </option>
                            </select>
                            <div *ngIf="editForm.get('turno').invalid ">
                                <small class="form-text text-danger" *ngIf="editForm.get('turno').errors.required">
                                    Debe seleccionar un turno para poder guardar
                                </small>
                            </div>
                            <div *ngIf="this.seleccionTurnoInvalida">
                                <small class="form-text text-danger">
                                    El turno seleccionado se cruza con uno de los turnos asignados actualmente al
                                    colaborador
                                </small>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity"
                    [disabled]="editForm.invalid || isSaving || seleccionTurnoInvalida || maximoAsignacionesExcedido"
                    class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>