<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="asignacionTurno">
            <h2><span jhiTranslate="controlAccesoApp.asignacionTurno.detail.title">Asignacion Turno</span> {{asignacionTurno.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="controlAccesoApp.asignacionTurno.fecha">Fecha</span></dt>
                <dd>
                    <span>{{asignacionTurno.fecha}}</span>
                </dd>
                <dt><span jhiTranslate="controlAccesoApp.asignacionTurno.turno">Turno</span></dt>
                <dd>
                    <div *ngIf="asignacionTurno.turno">
                        <a [routerLink]="['/turno', asignacionTurno.turno?.id, 'view']">{{asignacionTurno.turno?.nombre}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="controlAccesoApp.asignacionTurno.intercambioTurno">Intercambio Turno</span></dt>
                <dd>
                    <div *ngIf="asignacionTurno.intercambioTurno">
                        <a [routerLink]="['/intercambio-turno', asignacionTurno.intercambioTurno?.id, 'view']">{{asignacionTurno.intercambioTurno?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="controlAccesoApp.asignacionTurno.colaborador">Colaborador</span></dt>
                <dd>
                    <span *ngFor="let colaborador of asignacionTurno.colaboradors; let last = last">
                        <a [routerLink]="['/colaborador', colaborador?.id, 'view' ]">{{colaborador.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="controlAccesoApp.asignacionTurno.planeacionSemanal">Planeacion Semanal</span></dt>
                <dd>
                    <div *ngIf="asignacionTurno.planeacionSemanal">
                        <a [routerLink]="['/planeacion-semanal', asignacionTurno.planeacionSemanal?.id, 'view']">{{asignacionTurno.planeacionSemanal?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="controlAccesoApp.asignacionTurno.cargo">Cargo</span></dt>
                <dd>
                    <div *ngIf="asignacionTurno.cargo">
                        <a [routerLink]="['/cargo', asignacionTurno.cargo?.id, 'view']">{{asignacionTurno.cargo?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/asignacion-turno', asignacionTurno.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
