<div>
    <h2 id="page-heading">
        <span jhiTranslate="controlAccesoApp.peticion.home.title">Peticions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-peticion" [routerLink]="['/peticion/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="controlAccesoApp.peticion.home.createLabel">
            Create a new Peticion
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="peticions?.length === 0">
        <span jhiTranslate="controlAccesoApp.peticion.home.notFound">No peticions found</span>
    </div>
    <div class="table-responsive" *ngIf="peticions?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tipo"><span jhiTranslate="controlAccesoApp.peticion.tipo">Tipo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tipoPermiso"><span jhiTranslate="controlAccesoApp.peticion.tipoPermiso">Tipo Permiso</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fechaPeticion"><span jhiTranslate="controlAccesoApp.peticion.fechaPeticion">Fecha Peticion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="motivo"><span jhiTranslate="controlAccesoApp.peticion.motivo">Motivo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="constancia"><span jhiTranslate="controlAccesoApp.peticion.constancia">Constancia</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fechaInicio"><span jhiTranslate="controlAccesoApp.peticion.fechaInicio">Fecha Inicio</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fechaFin"><span jhiTranslate="controlAccesoApp.peticion.fechaFin">Fecha Fin</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="estado"><span jhiTranslate="controlAccesoApp.peticion.estado">Estado</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="autorizadoPor"><span jhiTranslate="controlAccesoApp.peticion.autorizadoPor">Autorizado Por</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let peticion of peticions ;trackBy: trackId">
                <td><a [routerLink]="['/peticion', peticion.id, 'view' ]">{{peticion.id}}</a></td>
                <td jhiTranslate="{{'controlAccesoApp.TipoPeticion.' + peticion.tipo}}">{{peticion.tipo}}</td>
                <td jhiTranslate="{{'controlAccesoApp.TipoPermiso.' + peticion.tipoPermiso}}">{{peticion.tipoPermiso}}</td>
                <td>{{peticion.fechaPeticion | date:'medium'}}</td>
                <td>{{peticion.motivo}}</td>
                <td>{{peticion.constancia}}</td>
                <td>{{peticion.fechaInicio | date:'medium'}}</td>
                <td>{{peticion.fechaFin | date:'medium'}}</td>
                <td jhiTranslate="{{'controlAccesoApp.EstadoPeticion.' + peticion.estado}}">{{peticion.estado}}</td>
                <td>{{peticion.autorizadoPor}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/peticion', peticion.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/peticion', peticion.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/peticion', { outlets: { popup: peticion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="peticions?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
