<div class="row justify-content-center">
    <div class="col-9">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="page-heading" class="mt-3">
                <span>Asignacion Masiva</span>
            </h2>
            <hr>
            <div class="row form-inline ml-3 form-group">
                <div class="form-inline mb-2">
                    <dt>Filtrar por turno:</dt>
                    <select class="form-control ml-2" name="turno" id="field_turno"
                        [(ngModel)]="this.idTurnoSeleccionado" [ngModelOptions]="{standalone: true}"
                        (change)="this.filtrarAsignaciones()">
                        <option [ngValue]="-1">Todos</option>
                        <option *ngFor="let turno of turnos" [ngValue]="turno.id">{{turno.nombre}}
                        </option>
                    </select>
                </div>
                <div class="form-inline ml-4 mb-2">
                    <dt>Filtrar por cargo:</dt>
                    <select class="form-control ml-2" name="cargo" id="field_cargo"
                        [(ngModel)]="this.idCargoSeleccionado" [ngModelOptions]="{standalone: true}"
                        (change)="this.filtrarAsignaciones()">
                        <option [ngValue]="-1">Todos</option>
                        <option *ngFor="let cargo of cargos" [ngValue]="cargo.id">{{cargo.nombre}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="custom-control custom-checkbox ml-2 mb-1">
                <input id="todos" type="checkbox" class="custom-control-input" [(ngModel)]="this.todosSeleccionados"
                    [ngModelOptions]="{standalone: true}" (change)="this.cambiarSeleccionTodos()"><label for="todos"
                    class="custom-control-label">Todos</label>
            </div>
            <div style="overflow-y: scroll; height:300px; width: auto;" class=" shadow rounded">
                <table class="table table-striped">
                    <thead>
                        <th>
                            <div class="px-2">
                                <label style="width: 95%;">
                                    <div class="row px-3">
                                        <div class="col-4 "> Nombre </div>
                                        <div class="col-4 "> Turno </div>
                                        <div class="col-4 "> Cargo </div>
                                    </div>
                                </label>
                            </div>
                        </th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of arrayAsignacionesMostradas; let i=index"
                            class="custom-control custom-checkbox">
                            <div class="p-2 ">
                                <input type="checkbox" class="custom-control-input "
                                    [(ngModel)]="this.arrayAsignacionesMostradas[i].checked"
                                    [ngModelOptions]="{standalone: true}" id="{{item.asignacionTurno.id}}">
                                <label class="custom-control-label " style="width: 90%; height: 100%;"
                                    for="{{item.asignacionTurno.id}}">
                                    <div class="row px-3">
                                        <div class="col-4">
                                            {{this.utilCol.getStrColaborador(item.asignacionTurno.colaboradors[0])}}
                                        </div>
                                        <div class="col-4">{{item.asignacionTurno.turno?.nombre}}</div>
                                        <div class="col-4">{{item.asignacionTurno.cargo?.nombre}}</div>
                                    </div>

                                </label>
                            </div>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="border rounded shadow p-4 my-3">
                <div class="form-row">
                    <div class="form-group col-4">
                        <label for="field_centroCosto">Centro de Costos</label>
                        <select class="form-control" id="field_centroCosto" name="centroCosto"
                            formControlName="centroDeCosto" (change)="cargarCargos()">
                            <option value="todos">Todos</option>
                            <option *ngFor="let centroCostoOption of centrosCosto" [ngValue]="centroCostoOption.id">
                                {{centroCostoOption.nombre}}</option>
                        </select>
                    </div>
                    <div class="form-group col-4">
                        <label class="form-control-label" jhiTranslate="controlAccesoApp.asignacionTurno.cargo"
                            for="field_cargo">Cargo</label>
                        <select class="form-control" id="field_cargo" name="cargo" formControlName="cargo">
                            <option [ngValue]="null">Mantener Cargos</option>
                            <option [ngValue]="cargoOption"
                                *ngFor="let cargoOption of cargosTodos; trackBy: trackCargoById">{{cargoOption.nombre}}
                            </option>
                        </select>
                        <!--div
                            *ngIf="editForm.get('cargo').invalid && (editForm.get('cargo').dirty || editForm.get('cargo').touched)">
                            <small class="form-text text-danger" *ngIf="editForm.get('cargo').errors.required"
                                jhiTranslate="entity.validation.required">
                                Debe seleccionar un cargo para poder continuar
                            </small>
                        </div-->
                    </div>
                    <div class="form-group col-4">
                        <label class="form-control-label" jhiTranslate="controlAccesoApp.asignacionTurno.turno"
                            for="field_turno">Turno</label>
                        <select class="form-control" id="field_turno" name="turno" formControlName="turno">
                            <option [ngValue]="null"></option>
                            <option class={{turnoOption.color?.toLowerCase()}} [ngValue]="turnoOption"
                                *ngFor="let turnoOption of turnosTodos; trackBy: trackTurnoById">{{turnoOption.nombre}}
                            </option>
                        </select>
                        <div
                            *ngIf="editForm.get('turno').invalid && (editForm.get('turno').dirty || editForm.get('turno').touched)">
                            <small class="form-text text-danger" *ngIf="editForm.get('turno').errors.required"
                                jhiTranslate="entity.validation.required">
                                Debe seleccionar un turno para poder guardar
                            </small>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                    class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>