<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="planificacionAsistencia">
            <h2><span jhiTranslate="controlAccesoApp.planificacionAsistencia.detail.title">Planificacion Asistencia</span> {{planificacionAsistencia.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="controlAccesoApp.planificacionAsistencia.fechaInicioPlanificacion">Fecha Inicio Planificacion</span></dt>
                <dd>
                    <span>{{planificacionAsistencia.fechaInicioPlanificacion | date : 'mediumDate'}}</span>
                </dd>
                <dt><span jhiTranslate="controlAccesoApp.planificacionAsistencia.fechaFinPlanificacion">Fecha Fin Planificacion</span></dt>
                <dd>
                    <span>{{planificacionAsistencia.fechaFinPlanificacion | date : 'mediumDate'}}</span>
                </dd>
                <dt><span jhiTranslate="controlAccesoApp.planificacionAsistencia.fechaAsistenciaTurno">Fecha Asistencia Turno</span></dt>
                <dd>
                    <span>{{planificacionAsistencia.fechaAsistenciaTurno | date : 'mediumDate'}}</span>
                </dd>
                <dt><span jhiTranslate="controlAccesoApp.planificacionAsistencia.horaInicioTurno">Hora Inicio Turno</span></dt>
                <dd>
                    <span>{{planificacionAsistencia.horaInicioTurno | date : 'hh:mm a'}}</span>
                </dd>
                <dt><span jhiTranslate="controlAccesoApp.planificacionAsistencia.horaFinTurno">Hora Fin Turno</span></dt>
                <dd>
                    <span>{{planificacionAsistencia.horaFinTurno | date : 'hh:mm a'}}</span>
                </dd>
                <dt><span jhiTranslate="controlAccesoApp.planificacionAsistencia.nombreCargo">Nombre Cargo</span></dt>
                <dd>
                    <span>{{planificacionAsistencia.nombreCargo}}</span>
                </dd>
                <dt><span jhiTranslate="controlAccesoApp.planificacionAsistencia.tiposAsistencia">Tipos Asistencia</span></dt>
                <dd>
                    <span>{{planificacionAsistencia.tiposAsistencia}}</span>
                </dd>
                <dt><span jhiTranslate="controlAccesoApp.planificacionAsistencia.minutosDiferencia">Minutos Diferencia Entrada</span></dt>
                <dd>
                    <span>{{planificacionAsistencia.minDiferenciaEntrada}}</span>
                </dd>
                <dt><span jhiTranslate="controlAccesoApp.planificacionAsistencia.minutosDiferencia">Minutos Diferencia Salida</span></dt>
                <dd>
                    <span>{{planificacionAsistencia.minDiferenciaSalida}}</span>
                </dd>
                <dt><span jhiTranslate="controlAccesoApp.planificacionAsistencia.nombreTurno">Nombre Turno</span></dt>
                <dd>
                    <span>{{planificacionAsistencia.nombreTurno}}</span>
                </dd>
                <dt><span jhiTranslate="controlAccesoApp.planificacionAsistencia.inasistenciaJustificada">Inasistencia Justificada</span></dt>
                <dd>
                    <span>{{planificacionAsistencia.inasistenciaJustificada? 'Si':'No'}}</span>
                </dd>
                <dt><span jhiTranslate="controlAccesoApp.planificacionAsistencia.colaborador">Colaborador</span></dt>
                <dd>
                    <div *ngIf="planificacionAsistencia.colaborador">
                        <a [routerLink]="['/colaborador', planificacionAsistencia.colaborador?.id, 'view']">{{this.utilCol.getStrColaborador(planificacionAsistencia.colaborador)}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/planificacion-asistencia', planificacionAsistencia.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
